ProjectStepUp/Resources/** filter=lfs diff=lfs merge=lfs -text
ProjectStepUp.Windows/Resources/** filter=lfs diff=lfs merge=lfs -text
ProjectStepUp.Windows/win-x64/** filter=lfs diff=lfs merge=lfs -text
