<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Stride" value="https://packages.stride3d.net/nuget" />
    <add key="StrideGamejam" value="https://nuget.pkg.github.com/manio143/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <StrideGamejam>
        <add key="Username" value="manio143" />
        <add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
      </StrideGamejam>
  </packageSourceCredentials>
</configuration>